<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO"><!-- bezieht sich auf log4 -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t]  %-5level %logger{36} %M Line:%L - %msg%n" />
		</Console>
		<RollingFile name="file" fileName="app-info.log"
			filePattern="app-info-%d{yyyy-MM-dd--mm}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace"><!-- ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL > OFF -->
			<AppenderRef ref="console" />
<!-- 			<AppenderRef ref="file" />  -->
		</Root>
	</Loggers>
</Configuration>